*{
    margin: 0;
    padding:0;
}
body{
    width:100%;
    height:100%;
}
#imgPPT{
    position: relative;
    width:800px;
    height:600px;
    overflow:hidden;
    margin:0 auto;
}
#idBox{
    position: absolute;
    width:5600px;
}
.image{
    width:800px;
    float:left;
}