*{
    padding:0;
    margin:0;
    text-align: center;
}
body{
    width: 1520px;
    height:1191px;
    background-color: #eeeeee;
}
a{
    text-decoration: none;
}
li{
    list-style: none
}
.hide{
    display: none;
}
header{
    height:360px;
    width:1520px;
    position: relative;
    background:url("../img/0 (1).jpg") center no-repeat;
}
#header-top{
    width:1520px;
    height:78px;
    position:relative;
    background-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(255,255,255,.0));
}
#top{
    position: relative;
    width:1358px;
    height:78px;
    margin:0 auto;
}
#logo{
    margin-top:14px;
    float: left;
    margin-right:30px;
}
#top>ul{
    padding-top:16px;
    height:62px;
}
#top>ul>li{
    list-style: none;
    float: left;
    height:62px;
    width:150px;
}
#top>ul>li>a{
    width: 150px;
    height:62px;
}
.top-li-btm{
    width:150px;
    color: #aeaeae;
    font-size: 11px;
    letter-spacing: 1px;
}
.top-li-top{
    color:white;
    width:150px;
    font-size:18px;
    letter-spacing: 1px;
}
#user{
    float:right;
    width:244px;
    height: 78px;
    position: absolute;
    top: 14px;
    right:0;
}
#userimg{
    width:48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    background:url("../img/cs_topbar.png");
    background-position:-305px -85px;
    z-index:10;
}
#userimg div{
    margin-top:5px;
    margin-left:4px;
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    background:url("../img/bef07359f7f780500c05e85fc6127af4_big.jpg");
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
#usernmae{
    float: left;
    margin-left: 10px;
    color: #cdbe91;
    font-size:16px;
    line-height:48px;
    z-index:10;
}
#zmimg{
    position:absolute;
    width: 18px;
    height:24px;
    top:28px;
    right:286px;
    background:url("../img/cs_topbar.png");
    background-position:-356px -85px;
}
#search{
    position:absolute;
    width:25px;
    height:25px;
    top:27px;
    right:326px;
    background:url("../img/cs_topbar.png");
    background-position:-380px -39px;
}
#dzp{
    display: none;
    position: absolute;
    width:211px;
    height:178px;
    top:30px;
    right:0px;
    margin-right:-97px;
    background:url("../img/cs_topbar.png");
    background-position:0 0;
}
#zmzm{
    position: absolute;
    bottom: 10px;
    font-size:11px;
    width:211px;
    height:12px;
    color: #cdbe91;
}
#zmgif{
   position: absolute;
    bottom: 10px;
    width: 50px;
    height:50px;
    right:-10px;
}
#dzp img{
    margin-top:20px;
    width:120px;
    height:120px;
}
#zmgif img{
    width: 50px;
    height:50px;
}
#topimghref{
    position:absolute;
    height:40px;
    width:160px;
    top: 288px;
    left:679px;
    color: #cdbe91;
    line-height: 40px;
    background-color: rgba(0,0,0,.6);
    border: 2px inset #cdbe91;
}
#topimghref:hover{
    background-color:rgba(0,0,0,.8);
    color: #c89b2f;
    border: 2px inset #c89b2f;
}
#ver{
    width:255px;
    height: 26px;
    position: absolute;
    right:81px;
    top: 310px;
    font-size: 14px;
    color: #cccccc;
}
#vernum{
    color: #cdbe91;
    margin-left:8px;
}
#verhref{
    color: #cdbe91;
    margin-left:8px;
    font-size: 13px;
    padding: 3px 11px;
    border: 2px inset #cdbe91;
    background-color:rgba(0,0,0,.6);
}
#verhref:hover{
    background-color:rgba(0,0,0,.8);
    color: #c89b2f;
    border: 2px inset #c89b2f;
}
#ull{
    display:none;
    height:282px;
    width:1520px;
    position:absolute;
    top:78px;
    left:-81px;
    z-index: 9;
    background-color:rgba(0,0,0,.6);
}
#ull div{
    height:250px;
    width:1040px;
    margin: auto auto;
}
#ull a{
    color:#cccccc;
    line-height: 30px;
    font-size:14px;
}
#ull a:hover{
    color:#c89b2f;
}
#ull ul{
    margin-top:10px;
    float:left;
    width: 150px;
}
.h{
    background:url("../img/cs_topbar.png") no-repeat ;
    background-position:-376px -110px ;
}
.n{
    background:url("../img/cs_topbar.png") no-repeat -358px -110px;
}
#userInfo{
    display: none;
    background-color:rgba(0,0,0,.6);
    position:absolute;
    width:300px;
    height:340px;
    top:-10px;
    z-index:5;
    right:-28px;
}
#userinfo-qv{
    position:absolute;
    top:78px;
    width:300px;
    height:25px;
}
.left{
    float:left;font-size:12px;color:#848383;line-height: 25px;margin-left:15px;background-color:#2f2d2d;padding:0 10px;
}
.left span{
    background:url("../img/cs_topbar.png") no-repeat -376px -65px;
}
.right{
    float:right;line-height: 25px;color:#cdbe91;margin-right:15px;
}
#WZlogo{
    position:absolute;
    height:130px;
    width: 100px;
    top:110px;
    left:10px;
    color:#cdbe91;
}
#WZlogo img{
    height:100px;
    width: 100px;
}
#zhanji{
    position: absolute;
    width:190px;
    height:130px;
    top:110px;
    right:0;
    float:left;
}
#zhanji li{
    float:left;
    width:95px;
    height:65px;
    color:#cdbe91;
    padding-top:20px;
}
.zhanji-btm{
    font-size:12px;
    color:#848383;
}
#aa{
    position: absolute;
    width:300px;
    height:25px;
    top:270px;
}
#user-enter{
    position:absolute;
    bottom:0;
    width:300px;
    height:40px;
    background-color:rgba(0,0,0,.8);
    font-size:16px;
    line-height: 40px;
}
#user-enter a{
    color:white;
}
#jiantou{
    position: absolute;
    width:50px;
    height:30px;
    bottom: 5px;
    right:55px;
}
#container{
    position: relative;
    width: 1358px;
    height:1071px;
    margin:0 auto;
    padding: 40px 0 80px 0;
}
#imgppt{
    position: absolute;
    height:380px;
    width:820px;
    left:0;
    overflow: hidden;
    z-index:2;
}
#imgppt-img{
    position: absolute;
    width: 5740px;
}
#imgppt-img li{
    float:left;
}
#imgppt-info{
    position: absolute;
    width: 820px;
    height:40px;
    left:0;
    bottom:0;
}
#imgppt-info li{
    height:40px;
    float: left;
    line-height: 30px;
    width:164px;
    padding:5px 0;
    background-color:#e3e2e2;
    font-size:14px;
    color:#424242;
}
#leftbtn{
    display: none;
    position:absolute;
    height:60px;
    width:50px;
    left:20px;
    top:140px;
    z-index:5;
    padding:0 5px;
}
#rightbtn{
    display: none;
    position:absolute;
    height:60px;
    width:50px;
    right:20px;
    top:140px;
    padding:0 5px;
    z-index:5;
}
#leftbtn:hover,#rightbtn:hover{
    background-color:rgba(0,0,0,.8);
}
#leftbtn img,#rightbtn img{
    height:60px;
    width:30px;
}
#imgppt-info .on{
    background-color:white;
    box-sizing: border-box;
    border-bottom:3px solid #cea861;
    color:#cea861;
}
#news{
    position: absolute;
    width:496px;
    height:380px;
    right:0;
}
#news-top{
    width:496px;
    height:34px;
    overflow: visible;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid;
}
#news-top li{
    float:left;
    width: 40px;
    height:34px;
    margin-right: 74px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}
#news-top .news-top-last{
    margin-right: 0;
}
#news-top a{
    line-height: 24px;
    color:#676767;
    letter-spacing: 1px;
}
#news-top .onthis a{
    font-weight: 700;
    color: #1da6ba;
}
#news-top li.onthis{
    border-bottom: 2px solid #1da6ba;
    box-sizing: border-box;
}
#new-content li{
    width: 496px;
    line-height: 39px;
    overflow: hidden;

    text-align: center;
}
#new-content .news-content-top{
    background-position: 0 -458px;
    width: 496px;
    height: 59px;
    overflow: hidden;
    line-height: 59px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0da0b4;
    border-top:none;
}
#new-content .new-list{
    display: inline-block;
    vertical-align: middle;
    width: 370px;
    height: 39px;
    overflow: hidden;
    margin-left: 20px;
    color: #424242;
    font-size: 14px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 39px;
    text-align: left;
    box-sizing: border-box;
    border-top: 1px #e0e2e2 solid;
}
.news-after-new,.news-after-video,.news-after-sai,.news-after-chat,.news-after-teach{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 20px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.news-after-new{
    color: #bb9a6c;
    border: 1px #c5ab86 solid;
}
.news-after-video{
    color: #6388c5;
    border: 1px #97afc5 solid;
}
.news-after-sai{
    color: #e9852d;
    border: 1px #e9852d solid;
}
.news-after-after{
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    letter-spacing: 1px;
    color: #9d9d9d;
}
.news-after-chat{
    color: #bb9a6c;
    border: 1px #c5ab86 solid;
}
.news-after-teach{
    color: #4ba36a;
    border: 1px #4ba36a solid;
}
#new-content>ul>li>a:hover{
    color: #be9a6c;
}
#morenews{
    display: block;
    width: 496px;
    height: 40px;
    background-color: #e3e2e2;
    line-height: 40px;
    text-align: center;
}
#morenews .c1{
    font-size: 14px;
    color: #676767;
}
#morenews .c2{
    font-size: 14px;
    color: #7ea1a6;
}
#right-div{
    position:fixed;
    left: 1450px;
    width:70px;
    height:500px;
    bottom:100px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
#right-nav{
    position:absolute;
    width:70px;
    height:360px;
    background-color:white;
    border-top-left-radius: 10px;
    right:0;
    bottom:-60px;

}
#right-nav li span{
    display: block;
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 35px;
}
#right-nav span i{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}
#right-nav span i.bbotm{
    width: 32px;
    height: 32px;
}
#right-nav li{
    display: block;
    width: 70px;
    height: 60px;
    text-align: center;
}
#right-nav li a{
    color: #92a8ab;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
}
.ii1{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -242px -70px;
}
.ii2{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -335px -45px;
}
.ii3{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -291px -14px;
}
.ii4{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -214px -96px;
}
.ii5{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -220px -46px;
}
.ii6{
    background-image: url("../img/comm-spr.png");
    background-repeat: no-repeat;
    background-position: -194px -12px;
}
#right-nav li:hover span{
     animation:jump ease 1.5s 1;
}
@keyframes jump {
    10% {
        transform: translateY(5px) scaleX(1.2) scaleY(.8);
    }
    30% {
        transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
    }
    50% {
        transform: translateY(0) scale(1) rotateZ(0);
    }
    55% {
        transform: translateY(0) scaleX(1.1) scaleY(.9) rotateZ(0);
    }
    70% {
        transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
    }
    80% {
        transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
    }
    85% {
        transform: translateY(0) scaleX(1.05) scaleY(.95) rotateZ(0);
}
    100% {
        transform: translateY(0) scaleX(1) scaleY(1);
    }
}
#act{
    position: absolute;
    width: 820px;
    height: 335px;
    margin-top: 50px;
    left: 0;
    top:420px;
}
#act-top{
    position: absolute;
    top:0;
    left:0;
    width:820px;
    height:35px;
}
.act-top-p{
    position: absolute;
    width: 120px;
    height: 28px;
    top: 5px;
    left: -6px;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.act-top-p:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px;
}
#act-top-ul{
    position: absolute;
    height: 35px;
    width: 685px;
    left: 120px;
    margin-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e2e2;

}
#act-top-ul li{
    margin-right: 40px;
    float: left;
    height: 37px;
    color: #676767;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
}
.ononon{
    font-weight: 700;
    color: #1da6ba;
    box-sizing: border-box;
    border-bottom: 2px solid #1da6ba;
}
.act-top-a{
    position: absolute;
    top: 0;
    right: 2px;
    display: block;
    height: 35px;
    font-size: 12px;
    color: #7ea1a6;
    line-height: 35px;
}
#act-cotent{
    position: absolute;
    top:35px;
    left:0;
    width: 820px;
    height: 278px;
    margin-top: 21px;
}
.act-cn-ul{
    display: none;
}
.act-cn-li{
    position: relative;
    float: left;
    width: 193px;
    height: 278px;
    margin-right: 16px;
    overflow: hidden;
    background-color: white;
}
.four{
    margin-right:0;
}
.act-cn-li>p{
    width: 173px;
    overflow: hidden;
    padding: 6px 10px 4px 10px;
    font-size: 14px;
    color: #424242;
    line-height: 18px;
    text-align: center;
}
.overtime{
    position: absolute;
    font-size: 12px;
    color: #1da6ba;
    left: 10px;
    bottom: 6px;
}
#xiazai{
    position: absolute;
    width: 496px;
    height: 335px;
    margin-top: 50px;
    right: 0;
    top:420px;
    background-color: #1da6ba;
}
#video{
    position: absolute;
    top:805px;
    left:0;
    width: 820px;
    height: 254px;
    margin-top: 51px;
    background-color: #1da6ba;
}
#vernav{
    position: absolute;
    top:805px;
    right:0;
    width: 496px;
    height: 254px;
    margin-top: 51px;
    background-color: #1da6ba;
}
.onshow{
    display:block;
}
